<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">

    {{#if user.Admin}}
    <li class="nav-item ">
      <div class="row justify-content-center">
        <img class="img-fluid w-50 h-50 p-3" src="/images/faces/user.png" alt="profile" />
      </div>
      <div class="row justify-content-center">
        <p>{{user.Username}}</p>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/dashboard">
        <i class="fa fa-th-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/courses">
        <i class="fa fa-book-reader menu-icon"></i>
        <span class="menu-title">Courses</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/users">
        <i class="fa fa-users menu-icon"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/admin/lectures">
        <i class="fa fa-video-camera menu-icon"></i>
        <span class="menu-title">Lectures</span>
      </a>
    </li>
    {{#if user.Super_Admin}}
    <li class="nav-item">
      <a class="nav-link" href="/admin/admins">
        <i class="fa fa-user-cog menu-icon"></i>
        <span class="menu-title">Admins</span>
      </a>
    </li>
    {{/if}}
    <li class="nav-item">
      <a class="nav-link" href="/admin/profile">
        <i class="fa fa-user menu-icon"></i>
        <span class="menu-title">My Profile</span>
      </a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="/admin/change-password">
        <i class="fa fa-key menu-icon"></i>
        <span class="menu-title">Change Password</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin/logout">
        <i class="fa fa-sign-out menu-icon"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>
    {{!-- <li class="nav-item">
      <a class="nav-link" href="/admin/chats">
        <i class="ti-comments menu-icon"></i>
        <span class="menu-title">Chats</span>
      </a>
    </li> --}}

    {{!--
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="icon-layout menu-icon"></i>
        <span class="menu-title">Menu</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/buttons.html">All Course</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Add</a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Typography</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
        aria-controls="form-elements">
        <i class="icon-columns menu-icon"></i>
        <span class="menu-title">Form elements</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="form-elements">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
        <i class="icon-bar-graph menu-icon"></i>
        <span class="menu-title">Charts</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="charts">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
        <i class="icon-grid-2 menu-icon"></i>
        <span class="menu-title">Tables</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="tables">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Basic table</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
        <i class="icon-contract menu-icon"></i>
        <span class="menu-title">Icons</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="icons">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/icons/mdi.html">Mdi icons</a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title">User Pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="auth">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Login </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Register </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false" aria-controls="error">
        <i class="icon-ban menu-icon"></i>
        <span class="menu-title">Error pages</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="error">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-404.html"> 404 </a></li>
          <li class="nav-item"> <a class="nav-link" href="pages/samples/error-500.html"> 500 </a></li>
        </ul>
      </div>
    </li>

    --}}

    {{else}}
    <li class="nav-item ">
      <div class="row justify-content-center">
        <img class="img-fluid w-50 h-50 p-3" src="/images/faces/user.png" alt="profile" />
      </div>
      <div class="row justify-content-center">
        <p>{{user.Username}}</p>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/dashboard">
        <i class="fa fa-th-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/user/my-courses">
        <i class="fa fa-book-reader menu-icon"></i>
        <span class="menu-title">My Courses</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/user/my-orders">
        <i class="fa fa-box menu-icon"></i>
        <span class="menu-title">My Orders</span>
      </a>
    </li>

    {{!-- <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#courses" aria-expanded="false" aria-controls="courses">
        <i class="ti-layout menu-icon"></i>
        <span class="menu-title">Courses</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="courses">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="/user/my-courses"> My Courses </a></li>
          <li class="nav-item"> <a class="nav-link" href="/user/courses"> Enroll in course </a></li>
        </ul>
      </div>
    </li> --}}

    <li class="nav-item">
      <a class="nav-link" href="/user/profile">
        <i class="fa fa-user menu-icon"></i>
        <span class="menu-title">My Profile</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/change-password">
        <i class="fa fa-key menu-icon"></i>
        <span class="menu-title">Change Password</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/user/logout">
        <i class="fa fa-sign-out menu-icon"></i>
        <span class="menu-title">Logout</span>
      </a>
    </li>

    {{/if}}
  </ul>
</nav>