<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">

        <div class="social-links">
            <a target="_blank" href="https://wa.me/message/XIWL3WG2BKT2H1" class="twitter"><i
                    class="bx bxl-whatsapp"></i></a>
            <a target="_blank" href="https://www.instagram.com/qala_mart" class="instagram"><i
                    class="bx bxl-instagram"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCkeY3fxx_EJH2Tis-NK_OvA" class="google-plus"><i
                    class="bx bxl-youtube"></i></a>

        </div>
        <div class="copyright">
             Copyright &copy;  <script>document.write(new Date().getFullYear())</script> <strong><span>Qalamart Group</span></strong>. All Rights Reserved
        </div>
        <div class="credits">

            Designed by <strong><a href="https://wa.me/message/4N4WASRJIKMNL1">Compass Solutions</a></strong>
        </div>
    </div>
</footer><!-- End Footer -->